# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ef0a8e69013d6c3cd74bad910792e7fa96bbdd6ecb0e5bd306902c3bf53d482b41606dc137ce5636e7e2bf204176f5541ec2131b08faffe8514d2a5ef1294a21

test:
  secret_key_base: fecbd6f5bea75f58f3bc60b6da6738c3878ebcd0deeb9504e72bfa385cd46142e05abff0b26fb0d826c4adf4e51da97ffe7d0b1f9db47bc8a6cad20d1e94818e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
